body {
    background-color: hsl(240, 40%, 80%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-size: clamp (.75rem, 1.5vw, 2rem);
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
        "title title title"
        "nav nav nav"
        "col1 col2 col3";
    column-gap: 0;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: hsl(210, 45%, 70%);
    color: hsl(60, 0%, 0%);
}

nav li:hover {
    background-color: hsl(160, 65%, 50%);
    color: hsl(60, 0%, 0%);
    transition: 0.25s;
}

nav {
    grid-area: nav;
    background-color: rgb(200, 200, 250);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.column1 {
    grid-area: col1;
    background-color: hsl(240, 10%, 80%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.column1 ul {
    list-style: none;
}

.column1 li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: hsl(240, 10%, 75%);
    color:rgb(0, 0, 0);
}

.column1 li:hover {
    background-color: hsl(160, 40%, 60%);
    color: hsl(60, 0%, 0%);
    transition: 0.25s;
}

.column2 {
    grid-area: col2;
    background-color: hsl(240, 10%, 90%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.content{
    display: inline-block;
}

.column3 {
    grid-area: col3;
    background-color: hsl(240, 10%, 80%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.splash_box {
    height: 300px;
    display: flex;
    justify-content: center;
}

#splash {
    max-width: 800px;
    display: block;
}

.nature-image{
    max-width: 300px;
    margin: 5px;
    float: left;
}

body > nav {
    position: sticky;
    top: 0px;
    margin-top: 0px;
    padding-top: 0px;;
}

ul {
    margin-top: 2px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title-bar{
    grid-area: title;
    margin-top: 10px;
    font-size: medium;
}

p {
    margin: 5px;
}


@media (max-width: 800px) {
    body {
        grid-template-columns: 90vw;
        grid-template-areas: 
            "title"
            "nav"
            "col1"
            "col2"
            "col3";
        width: 90vw;
    }

    nav li {
        font-size: small;
    }

    .column1{
        display: none !important;
    }

    .column2 {
        width: 88vw;
    }

    #splash {
        width: 88vw;
    }
}

@media print {
    body {
        background-color: white;
    }
    nav {
        display: none !important;
    }    
}