body {
    background-color: hsl(240, 40%, 80%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-size: clamp (.75rem, 1.5vw, 2rem);
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 0.6fr 2fr 0.6fr;
    grid-template-areas: 
        "title title title"
        "nav nav nav"
        "col1 col2 col3";
    column-gap: 0;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
    padding: 10px;
    margin: 2px;
    background-color: rgb(159, 185, 211);
    color:rgb(0, 0, 0);
}

nav li:hover {
    background-color: rgb(43, 226, 208);
    color: rgb(255, 0, 0);
    transition: 0.25s;
}

nav {
    grid-area: nav;
    background-color: rgb(200, 200, 250);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.column1 {
    grid-area: col1;
    background-color: hsl(240, 10%, 80%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.column2 {
    grid-area: col2;
    background-color: hsl(240, 10%, 90%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.column3 {
    grid-area: col3;
    background-color: hsl(240, 10%, 80%);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.splash_box {
    height: 300px;
    display: flex;
    justify-content: center;
}

#splash {
    max-width: 800px;
    display: block;
}

body > nav {
    position: sticky;
    top: 5px;
}

ul {
    margin-top: 2px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}



.title-bar{
    grid-area: title;
    margin-top: 10px;
}

p {
    margin: 5px;
}